$verdeAgua: #415d61;
$coral: #dc785e;
$blanco:#edece8;
$grisClaro:#edece8b9;
$redes:(whatsapp: rgb(93, 209, 93),
    twitter: rgb(0, 225, 255),
    facebook: rgb(0, 0, 255));

#footer {
    grid-column: 1/3;
    grid-row: 4/5;
}

footer {
    height: 12rem;
    width: 100%;
    background-image: linear-gradient(to bottom right, $coral 60%, rgb(224, 212, 224));
    position: relative;

    h5 {
        font-size: 1.5rem;
        font-weight: 800;
        height: 30%;
        display: flex;
        align-items: center;
        color: $verdeAgua;
    }

    h6 {
        text-align: center;
        color: $verdeAgua;
    }

    ul {
        height: 50%;
        width: 30%;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        i {
            font-size: 3rem;
            color: $verdeAgua;
        }
    }
}

@each $red,
$color in $redes {
    .btn--#{$red} {
        background-color: $color;
        height: 200px;
        width: 300px;
        border: 2px solid #333;
        text-align: center;
        font-size: 50px;
        line-height: 200px;
        color: #fff;
        text-transform: uppercase;
    }
}